<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authors and Books</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Authors</h1>
    <div class="row">
        <div class="col-2 add-author">
            <h2>New Author</h2>
            <form action="/add_author" method="POST">
                <label for="first_name"> First Name</label>
                <input type="text" name="name" id="name">

                <input type="submit" value="Add Author">
            </form>
        </div>
        <div class="col-2 all-authora">
            <h2>All Authors</h2>
            <div class="all-authors">
                {% for author in all_authors %}
                    <a href="/authors/{{ author.id }}">{{ author.name }}</a>
                {% endfor%}
            </div>
            <a href="/books">Add Book</a>
        </div>
    </div>
</body>
</html>

<!--    
    a. set up landing page routes
    1. Add Author
    2. Disaply all authora
    3. Add a book route
 -->