/* GLOBAL */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;900&display=swap');

:root{
    --white:#fff;
    --black:#000;
    --yellow:#DF974B;
    --orange:#CBAD9E;
    --red:#96272B;
        --dk-red:#2B0D12;
    --teal:#15616D;
    --dk-blue:#001524;
    --blue:#224F70;
    --purple:#624552;

}

.red{color:var(--red);}

*{padding: 0;margin: 0; box-sizing: border-box; font-family: 'Playfair Display', serif;}
.container{max-width: 1000px; margin: 0 auto; color:var(--teal);}
.flex{display: flex;align-items: flex-start;justify-content: center;flex-wrap: wrap;}

.col-2{width: 50%; padding-top: 25px; padding-bottom: 50px;}
    .col-2:nth-of-type(2){padding-right:50px}
    .col-2:nth-of-type(3){padding-left:50px}
    .col-2 h2,.col-2 h1{padding-bottom: 25px;}

h1,h2{font-size: 30px; color:var(--black); width: 100%;}

/* messages */
.error-messages{padding:10px 0;}
.error{color:var(--red);}
.info{color:var(--blue);}


/* ======================================== 
PAGE 
======================================== */

/* HOME */
.page-home .info-messages{width: 100%;}
.page-home .info-messages .error{background-color:var(--blue); color:var(--white); padding: 10px; text-align: center; margin:15px 0}

/* WALL */
.nav-bar{width: 100%;}

/* LOCK */
.page-lock{text-align: center;}
.page-lock h1{width: 100%; padding-bottom: 25px;}
.page-lock p{display: block; width: 100%; padding-bottom: 15px; color:var(--black);}