{% include 'header.html' %}

<body class="page-search">
    {% include 'navigation.html' %}
    <main>
        <div class="container flex">
            <h1><span>NightOwl</span> Library: </h1>
            <form class="search_by_wrp" action="/search_for" method="post">
                {% with errors = get_flashed_messages(category_filter=["search"]) %}
                    {% if errors %}
                        <div class="error-messages">
                            {%- for msg in errors %}
                                <p class="error">{{ msg }}</p>
                            {% endfor -%}
                        </div>
                    {% endif %}
                {% endwith %}
                <label for="search_by">Search by:</label>
                <span>
                    <select class="search_by" name="search_by" onchange="alterSearch()">
                        <option value="" deactivate selected>Search By...</option>
                        <option value="author">Author</option>
                        <option value="genres">Genre</option>
                        <option value="title">Book Title</option>
                        <option value="series">Series Name</option>
                        <option value="all">All</option>
                    </select>

                    <span class="hide title">
                        <input type="text" name="book_title" placeholder="Search Book Title..." class="search">
                    </span>
                    <span class="hide author">
                        <input type="text" name="author" placeholder="Search Author..." class="search">
                    </span>

                    <select class="hide genres" name="genres" placeholder="Search by Genres">
                        <option value="" deactivate selected>Search by Genres...</option>
                        {% for book in all_genres %}
                            <option value="{{ book.id }}">{{ book.genre }}</option>
                        {% endfor %}
                    </select>

                    <select class="hide series" name="book_series">
                        <option value="" deactivate selected>Search by Book Series...</option>
                        {% for series in all_series %}
                            <option value="{{ series.id }}">{{ series.series_name }}</option>
                        {% endfor %}
                    </select>

                    <input type="submit" value="Search" class="submit">
                </span>
            </form> 

            <div class="books-wrapper">
                {% for book in all_books %}
                    <div class="indv-book">
                        <div class="img-wrp"><img src="{{ book.img }}" alt="book cover for {{ book.title }}"></div>
                        <div class="book-data">
                            <p class="title">{{ book.title }}</p> 
                            <p class="author">Author: {{ book.author.first_name }} {{ book.author.last_name }}</p>
                            {% if book.link %}
                                <a href="{{ book.link }}" class="link">Read More</a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>  

            <div class="pagination">
                <i class="fa-solid fa-angle-left"></i>
                <span></span>
                <span></span>
                <span></span>
                <span></span> 
                <i class="fa-solid fa-angle-right"></i>
            </div> 

        </div>
    </main>

    <!-- 1. pull geners in and list below 
    2.  make them clickable
    3. Make authors clickable
    4. Series
    5. pull in series name and num in series
    6. finish pagination
    7. make it clickable  -->
{% include 'footer.html' %}