{% include 'header.html' %}

<body class="page-search">
    {% include 'navigation.html' %}
    <main>
        <div class="container flex">
            <h1>Search All books in NightOwl Database: </h1>
            <form action="/search_for" action="post">
                <label for="search_by">Search by Category:</label>
                <select name="search_by" id="">
                    <option value="" deactivate selected>Search By...</option>
                    <option value="genre">Author</option>
                    <option value="genre">Genre</option>
                    <option value="genre">Book Title</option>
                    <option value="genre">Series Name</option>
                </select>
                <input type="text" name="search" id="" placeholder="Search...">
                <input type="submit" value="Search">
            </form>    

            1. List them in alabetcail order as well
            2. paginate
            <!-- 3. Search function
                -search by author
                -genre
                -series
                -or title -->

        </div>
    </main>

{% include 'footer.html' %}