<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Flock</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.0.0/css/all.css" integrity="sha384-3B6NwesSXE7YJlcLI9RpRqGf2p/EgVH8BgoKTaUrmKNDkHPStTQ3EyoYjCGXaOTS" crossorigin="anonymous">
</head>
<body>
    <h1>Create a Flock</h1>
    <div class="error-messages">
        {% with errors = get_flashed_messages(category_filter=["groups"]) %}
            {% if errors %}
                {%- for msg in errors %}
                    <p class="error">{{ msg }}</p>
                {% endfor -%}
            {% endif %}
        {% endwith %}
    </div>
    <form action="create_group" method="POST">
        <input type="text" name="name" id="" placeholder="Flock Name">
        <input type="text" name="city" id="" placeholder="City">
        <select name="state" id="">
            <option value="" selected deactivated>Select State</option>
            <option value="alabama">Alabama</option>
            <option value="alaska">Alaska</option>
            <option value="arizona">Arizona</option>
            <option value="arkansas">Arkansas</option>
            <option value="california">California</option>
            <option value="colorado">Colorado</option>
            <option value="connecticut">Connecticut</option>
            <option value="delaware">Delaware</option>
            <option value="florida">Florida</option>
            <option value="georgia">Georgia</option>
            <option value="hawaii">Hawaii</option>
            <option value="idaho">Idaho</option>
            <option value="illinois">Illinois</option>
            <option value="indiana">Indiana</option>
            <option value="iowa">Iowa</option>
            <option value="kansas">Kansas</option>
            <option value="kentucky">Kentucky</option>
            <option value="louisiana">Louisiana</option>
            <option value="maine">Maine</option>
            <option value="maryland">Maryland</option>
            <option value="massachusetts">Massachusetts</option>
            <option value="michigan">Michigan</option>
            <option value="minnesota">Minnesota</option>
            <option value="mississippi">Mississippi</option>
            <option value="missouri">Missouri</option>
            <option value="montana">Montana</option>
            <option value="nebraska">Nebraska</option>
            <option value="nevada">Nevada</option>
            <option value="new Hampshire">New Hampshire</option>
            <option value="new Jersey">New Jersey</option>
            <option value="new Mexico">New Mexico</option>
            <option value="new York">New York</option>
            <option value="north Carolina">North Carolina</option>
            <option value="north Dakota">North Dakota</option>
            <option value="ohio">Ohio</option>
            <option value="oklahoma">Oklahoma</option>
            <option value="oregon">Oregon</option>
            <option value="pennsylvania">Pennsylvania</option>
            <option value="rhode_island">Rhode Island</option>
            <option value="south_carolina">South Carolina</option>
            <option value="south_dakota">South Dakota</option>
            <option value="tennessee">Tennessee</option>
            <option value="texas">Texas</option>
            <option value="utah">Utah</option>
            <option value="vermont">Vermont</option>
            <option value="virginia">Virginia</option>
            <option value="washington">Washington</option>
            <option value="west_virginia"> West Virginia</option>
            <option value="Wwsconsin">Wisconsin</option>
            <option value="wyoming">Wyoming</option>
            <span>
                <label for="Open to Everyone or a private group?"></label>
                <input type="radio" id="" name="privacy_setting" value="open" checked>
                <label for="html">Open</label><br>
                <input type="radio" id="" name="privacy_setting" value="private">
                <label for="css">Private</label><br>
            </span>
        </select>
        <input type="submit" value="Submit">
    </form>
    <!-- 
        1. name
        2. location
        3. makes you admin in the back end
        4. invite friends
            -maybe through text message?
    -->
</body>
</html>