{% include 'header.html' %}
<body class="page-home">
    <main>
        <div class="container flex">
            
            {% include 'navigation.html' %}

            <h1>Dashboard</h1>
            <h2>Welcome {{ user_info.first_name}}</h2>
            <div class="error-messages">
                {% with errors = get_flashed_messages(category_filter=["request"]) %}
                    {% if errors %}
                        {%- for msg in errors %}
                            <p class="error">{{ msg }}</p>
                        {% endfor -%}
                    {% endif %}
                {% endwith %}
            </div>
            <div class="info-messages">
                    {% with errors = get_flashed_messages(category_filter=["info"]) %}
                        {% if errors %}
                            {%- for msg in errors %}
                                <p class="info">{{ msg }}</p>
                            {% endfor -%}
                        {% endif %}
                    {% endwith %}
            </div>

            <h3>Join a Flock</h3>
            <form action="/submit_join_request" method="POST">
                <!-- if they're not in a group yet -->
                <select name="flock_id" id="">
                    <option value="">Join a Flock</option>
                    {% for group in all_groups %}
                        <option value="{{ group.id }}">{{ group.title }}</option>
                    {% endfor %}
                </select>
                <textarea name="mesage" id="" cols="30" rows="10">
                    {{user_info[0].first_name}} {{user_info[0].last_name}} would like to join your group !
                </textarea>
                <input type="hidden" name="user_id" value="{{ user_info[0].id }}">
                <input type="submit" value="Join!">
            </form>
            <h3><a href="/create_flock"> Create a flock </a></h3>
        </div>
    </main>
    {% include 'footer.html' %}