{% include 'header.html' %}
<body class="page-flock-settings">
    {% include 'navigation.html' %}
    <main>
        <div class="container">
            {{ all_members.flocks }}
            <h1><span> Edit Flock Settings For: </span> {{ all_members.member }} </h1>
            <p><strong>Flock leader:</strong> {{ all_members.first_name }} {{ all_members.last_name }}</p>
            <p><strong>Group started:</strong> {{ all_members.created_at }}</p>
            <p>Set new admin for Group !!NAME!!</p>
            <form action="/set_new_admin">

                <select name="">
                    {% for member in all_members %}
                        <option value="{{ member.id}}">{{ member.first_name}}</option>
                    {% endfor %}
                </select>

                <input type="submit" value="Set New Admin">
            </form>
            <a href="/delete_group"> Delete Group </a>
            <h3>Set Tempoaray Admin Privilidges</h3>
            <form action="/temporary_priviliges" method="POST">
                <input type="number" name="month_amount" placeholder="Month Amount" min="1" max="12">

                <input type="submit" value="submit">
            </form>

            <!-- 
            1. set people as host for a months persio
            2. set a new admin
            3. edit group settings (name, locaition, ect.)
            4. send out group banners / messages 
            5. List our members
                -message
            6. delete the group
            -->

        </div>
    </main>
{% include 'footer.html' %}