{% from "_macros.html" import states %}

{% include 'header.html' %}
<body>
    <body class="page-home">
        <main>
            <div class="container ">
                {% include 'navigation.html' %}

                <h1>User Settings:  <span> {{ user_info[0].first_name }} {{ user_info[0].last_name }}</span></h1>

                <h3>Update User Info:</h3>
                <div class="error-messages">
                    {% with errors = get_flashed_messages(category_filter=["user"]) %}
                        {% if errors %}
                            {%- for msg in errors %}
                                <p class="error">{{ msg }}</p>
                            {% endfor -%}
                        {% endif %}
                    {% endwith %}
                </div>
                <form action="update_user_settings" method="post">
                    <input type="text" name="first_name" id="" placeholder="First Name" value="{{ user_info[0].first_name }}">

                    <input type="text" name="last_name" id="" placeholder="Last Name" value="{{ user_info[0].last_name }}">

                    <input type="phone" name="phone" id="" placeholder="phone" value="{{  user_info[0].phone }}">
                    
                    <input type="text" name="email" id="" placeholder="email@format.com" value="{{  user_info[0].email }}">

                    <input type="hidden" name="id" value="{{ user_info[0].id }}">
                    <input type="submit" value="Update">
                </form>
                <h3>Update Address</h3>
                <div class="error-messages">
                    {% with errors = get_flashed_messages(category_filter=["address"]) %}
                        {% if errors %}
                            {%- for msg in errors %}
                                <p class="error">{{ msg }}</p>
                            {% endfor -%}
                        {% endif %}
                    {% endwith %}
                </div>
                <form action="/update_address" method="post">
                    <input type="text" name="address" value="{{ user_info[0].address.address }}" placeholder="address">
                    <input type="text" name="city" value="{{  user_info[0].address.city }}" placeholder="city">
                    
                    {{ states() }}

                    <input type="numbers" name="zip" value="{{ user_info[0].address.zip }}" placeholder="city">
                    <input type="hidden" name="user_id" value="{{ user_info[0].id }}">
                    <input type="submit" value="Update Address">
                </form>
                <h3>Update Password</h3>
                <div class="error-messages">
                    {% with errors = get_flashed_messages(category_filter=["password"]) %}
                        {% if errors %}
                            {%- for msg in errors %}
                                <p class="error">{{ msg }}</p>
                            {% endfor -%}
                        {% endif %}
                    {% endwith %}
                </div>
                <form action="/update_password" method="post">
                    <input type="password" name="old_password" id="" placeholder="Old Password" value="">
                    
                    <input type="password" name="password" id="" placeholder="New Password" value="">
                    <input type="password" name="confirm_password" id="" placeholder="Confirm New Password" value="">

                    <input type="hidden" name="id" value="{{ user_info[0].id }}">
                    <input type="submit" value="Update Password">
                </form>

                <a href="/delete_user/{{ user_info[0].id }}" class="delete">Delete Account</a>
                <h2><span>Flocks: </span>{{ user_info[0].flock.title }} </h2>
                {% if user_info[0].flock.title is  none %}
                    <a href="/join_flock">Join a Flock</a>
                {% else %}
                    <p><strong>Member Since:</strong> {{ user_info[0].flock.created_at.strftime('%B %m, %Y') }}</p>
                    <p><strong>Membership Status:</strong> {{ user_info[0].status.status }}</p>
                    <form action="/leave_flock" method="post">
                        <input type="hidden" name="user_id" value="{{ user_info[0].id }}">
                        <input type="hidden" name="flock_id" value="{{ user_info[0].flock.id }}">
                        <input type="submit" value="Leave Group">
                    </form>
                {% endif %}
                <!-- 
                1. see what groups your in
                    - join another groupßå
                    - create a group
                    - leave a group
                2. delete account
                4. change
                    name,address,password,phone,email,image 
                5. custom requests or resposes
                    - pets
                    - allergies
                    - kids
                -->
                <a href="/create_flock">Create a Flock</a>
            </div>
        </main>

        {% include 'footer.html' %}